@import "tailwindcss";

@layer base {
  html {
    background: #26171a;
  }

  body {
    font-size: 12px;
    line-height: 1.125em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: url("/images/main_bg.jpg") top left repeat;
    margin: 0;
    padding: 0;
  }

  a {
    color: #058fcf;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  h2 {
    font-size: 19px;
    font-weight: normal;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  img {
    display: inline-block;
  }
}
